n8n/lp_reporting_assistant_workflow.json
[
  {
    "updatedAt": "2026-07-07T20:22:03.659Z",
    "createdAt": "2026-07-05T15:31:02.627Z",
    "id": "4C2haiHoqdwEDugd",
    "name": "LP Reporting Assistant - Two-Step AI Workflow",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "id": "f759c613-e025-4152-ad38-719a5c58bbe3",
        "name": "Manual Trigger: New Quarterly Report",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "filePath",
                "type": "string",
                "value": "/data/reports/Solvex_Diagnostics_Q2_2026_Report.pdf"
              }
            ]
          },
          "options": {}
        },
        "id": "32d31643-3d6d-4cb4-9a51-832974291136",
        "name": "Select Report",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          240,
          0
        ],
        "notes": "Manual demo path only. Edit filePath here to run the workflow for a different portfolio company PDF, then use the Manual Trigger above."
      },
      {
        "parameters": {
          "filePath": "=={{ $json.filePath }}"
        },
        "id": "790ea7f5-e69b-44da-985a-834559e7a95d",
        "name": "Read PDF from Disk",
        "type": "n8n-nodes-base.readBinaryFile",
        "typeVersion": 1,
        "position": [
          480,
          0
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "lp-report-upload",
          "responseMode": "lastNode",
          "options": {
            "binaryPropertyName": "data",
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "57baf823-38a3-4d79-a556-7b21c747adee",
        "name": "Webhook: Report Uploaded",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          480,
          240
        ],
        "webhookId": "lp-report-upload",
        "notes": "Frontend POSTs multipart/form-data here with the PDF under a field named 'data'. If binary doesn't arrive automatically, open this node and enable 'Binary Data' with property name 'data' in the UI (this toggle's exact param name has shifted across n8n versions)."
      },
      {
        "parameters": {
          "operation": "pdf",
          "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
          "options": {}
        },
        "id": "f6dd0303-c30a-450d-af88-20294f84ca4d",
        "name": "Extract from File",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          720,
          128
        ],
        "notes": "Converts PDF binary to plain text before it reaches Claude, to keep token usage (and cost) low. Shared by both the manual-demo path and the webhook/upload path."
      },
      {
        "parameters": {
          "jsCode": "const text = $json.text || '';\nconst lines = text.split('\\n').map(l => l.trim()).filter(Boolean);\nconst sectorIdx = lines.findIndex(l => /^Sector:/i.test(l));\nconst companyName = sectorIdx > 0 ? lines[sectorIdx - 1] : (lines[0] || 'Unknown Company');\nconst quarterMatch = text.match(/Quarter\\s+ended\\s+(\\d{1,2}\\s+[A-Za-z]+\\s+\\d{4})/i);\nconst quarterLabel = quarterMatch ? quarterMatch[1].replace(/\\s+/g, ' ').trim() : 'Current Quarter';\nconst reportDate = new Date().toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' });\n\nconst monthNames = ['january','february','march','april','may','june','july','august','september','october','november','december'];\nconst qMatch = quarterLabel.match(/(\\d{1,2})\\s+([A-Za-z]+)\\s+(\\d{4})/);\nlet quarterFolderName = 'Unfiled';\nif (qMatch) {\n  const monthIdx = monthNames.indexOf(qMatch[2].toLowerCase());\n  if (monthIdx >= 0) {\n    const q = Math.floor(monthIdx / 3) + 1;\n    quarterFolderName = 'Q' + q + '-' + qMatch[3];\n  }\n}\n\nreturn [{ json: { text, companyName, quarterLabel, reportDate, quarterFolderName } }];"
        },
        "id": "164d1010-35e3-416a-9743-c78318f6344a",
        "name": "Parse Report Metadata",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          128
        ],
        "notes": "Reads the company name and quarter straight off the report text (first line / 'Quarter ended ...' line), so this works for uploaded files with no manual setup."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 1400,\n  system: \"You are a financial analyst supporting the investor relations team at a European growth buyout private equity firm. You will be given the extracted text of one portfolio company's quarterly report to its sponsor. Reports vary in length and structure between companies (2-10 pages, some with appendices, some without) -- read the whole thing.\\n\\nExtract and return a single JSON object with exactly these fields:\\n\\n1. \\\"draftParagraph\\\": a first-draft LP quarterly update paragraph (120-180 words) covering the most important KPIs and the key qualitative development(s) this quarter. If any KPI or development looks unusual and may warrant investor attention (revenue growth (YoY) below 10%, any EBITDA margin decline of more than 2 percentage points, recurring revenue/ARR growth below 15%, or any explicitly mentioned delay, cancellation, cost pressure, or other negative qualitative development), state it directly and factually -- do not hide, soften, or omit it, but do not editorialize or speculate about causes or outcomes beyond what the source text states. Never use em dashes (\\u2014) anywhere in the text; use commas or en dashes (\\u2013) instead.\\n\\n2. \\\"kpiRows\\\": an array of up to 6 rows from the report's KPI/performance table, each row as [label, thisQuarterValue, priorQuarterValue, yoyOrChangeValue], copied as given in the source.\\n\\n3. \\\"revenueTrend\\\": {\\\"quarters\\\": [...], \\\"values\\\": [...]} -- ONLY if the source contains a multi-quarter revenue trend table (e.g. an appendix). \\\"values\\\" must be plain numbers (EUR millions). If no such trend table exists in the source, return {\\\"quarters\\\": [], \\\"values\\\": []}. Do not fabricate a trend that isn't in the source.\\n\\n4. \\\"marginTrend\\\": same shape as revenueTrend, but for EBITDA margin percentages, if present in the source. Return empty arrays if not present.\\n\\n5. \\\"segments\\\": {\\\"labels\\\": [...], \\\"values\\\": [...]} -- a revenue-by-segment/product-line breakdown, ONLY if the source contains one. \\\"values\\\" are percentages as plain numbers. Return empty arrays if not present.\\n\\n6. \\\"watchItems\\\": an array of up to 4 objects {\\\"item\\\": short label, \\\"status\\\": one of \\\"Attention\\\", \\\"Monitor\\\", or \\\"On Track\\\", \\\"note\\\": one factual sentence}, covering the most notable items from the quarter (both positive developments worth tracking and any concerning items identified above).\\n\\nOutput format: return ONLY the JSON object. No preamble, no markdown code fences, no commentary.\",\n  messages: [\n    { role: \"user\", content: \"Source report text:\\n\\n\" + $json.text }\n  ]\n}) }}",
          "options": {}
        },
        "id": "fdae5aa4-90a9-49d8-83e8-892f8ba2dc46",
        "name": "Claude 1: Draft + Flag Anomalies",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          128
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQJ5vZtPf1dgfNNK",
            "name": "Header Auth account 2"
          }
        },
        "notes": "Uses claude-haiku-4-5 - cheap/fast, sufficient for structured extraction + first-draft writing."
      },
      {
        "parameters": {
          "jsCode": "const res = $input.first().json;\nconst raw = (res.content && res.content[0] ? res.content[0].text : '').trim();\n\nfunction safeParse(text) {\n  let cleaned = text.trim();\n  const fenceMatch = cleaned.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  if (fenceMatch) cleaned = fenceMatch[1].trim();\n  try { return JSON.parse(cleaned); } catch (e) { return null; }\n}\n\nconst parsed = safeParse(raw) || {};\nconst draftParagraph = parsed.draftParagraph || raw;\nconst kpiRows = Array.isArray(parsed.kpiRows) ? parsed.kpiRows : [];\nconst revenueTrend = parsed.revenueTrend && Array.isArray(parsed.revenueTrend.quarters) ? parsed.revenueTrend : { quarters: [], values: [] };\nconst marginTrend = parsed.marginTrend && Array.isArray(parsed.marginTrend.quarters) ? parsed.marginTrend : { quarters: [], values: [] };\nconst segments = parsed.segments && Array.isArray(parsed.segments.labels) ? parsed.segments : { labels: [], values: [] };\nconst watchItems = Array.isArray(parsed.watchItems) ? parsed.watchItems : [];\n\nreturn [{\n  json: {\n    draftParagraph,\n    kpiRows,\n    revenueTrend,\n    marginTrend,\n    segments,\n    watchItems,\n    sourceText: $('Parse Report Metadata').item.json.text,\n    companyName: $('Parse Report Metadata').item.json.companyName,\n    quarterLabel: $('Parse Report Metadata').item.json.quarterLabel,\n    reportDate: $('Parse Report Metadata').item.json.reportDate,\n    quarterFolderName: $('Parse Report Metadata').item.json.quarterFolderName\n  }\n}];"
        },
        "id": "e99bf164-0a7b-452e-a6ce-9aa715b2745e",
        "name": "Parse Draft Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          128
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 400,\n  system: \"You are an editor at a European growth buyout private equity firm, reviewing a draft limited partner (LP) quarterly update paragraph before it is sent to institutional investors. You are given the original source report text and a first draft paragraph. Revise the draft according to these rules:\\n\\n1. Factual only - every claim must be directly traceable to the source text provided. Remove or rephrase anything that reads as speculation, forecast, or opinion not grounded in the source.\\n2. No promotional or marketing language (avoid words like \\\"exciting\\\", \\\"thrilled\\\", \\\"game-changing\\\", \\\"best-in-class\\\", \\\"robust success\\\"). Use neutral, institutional language.\\n3. No speculative language about future outcomes (avoid phrases like \\\"is expected to significantly boost X\\\" unless the source explicitly states that expectation).\\n4. Keep it concise: exactly one paragraph, 100-160 words.\\n5. Tone: measured, precise, and understated - appropriate for a sophisticated institutional LP audience at a European growth buyout fund. This is a factual update, not marketing collateral.\\n6. Never use em dashes (\u2014) anywhere in the text; use commas or en dashes (\u2013) instead. If the draft contains an em dash, replace it.\\n\\nReturn ONLY the final revised paragraph. No preamble, no headers, no markdown, no notes about what you changed.\",\n  messages: [\n    { role: \"user\", content: \"Source report text:\\n\\n\" + $json.sourceText + \"\\n\\n---\\n\\nDraft paragraph to review:\\n\\n\" + $json.draftParagraph }\n  ]\n}) }}",
          "options": {}
        },
        "id": "1a0706cd-705e-4951-8a8c-b6d67662cc46",
        "name": "Claude 2: Review + Refine for LPs",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1680,
          128
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zQJ5vZtPf1dgfNNK",
            "name": "Header Auth account 2"
          }
        },
        "notes": "Uses claude-haiku-4-5 - same low-cost model as step 1, kept deliberately simple/cheap for this prototype. Swap to a stronger model here later if review quality needs it."
      },
      {
        "parameters": {
          "jsCode": "const res = $input.first().json;\nconst finalParagraph = (res.content && res.content[0] ? res.content[0].text : '').trim();\nconst draft = $('Parse Draft Response').item.json;\nreturn [{\n  json: {\n    finalParagraph,\n    companyName: draft.companyName,\n    quarterLabel: draft.quarterLabel,\n    reportDate: draft.reportDate,\n    quarterFolderName: draft.quarterFolderName,\n    kpiRows: draft.kpiRows,\n    revenueTrend: draft.revenueTrend,\n    marginTrend: draft.marginTrend,\n    segments: draft.segments,\n    watchItems: draft.watchItems\n  }\n}];"
        },
        "id": "a6a12c04-1a8e-4583-b1ee-6d15e7b6266a",
        "name": "Parse Final Paragraph",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1920,
          128
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b1",
                "name": "googleDocUrl",
                "type": "string",
                "value": "={{ 'https://docs.google.com/document/d/' + $json.documentId + '/edit' }}"
              },
              {
                "id": "b2",
                "name": "companyName",
                "type": "string",
                "value": "={{ $('Parse Final Paragraph').item.json.companyName }}"
              },
              {
                "id": "b3",
                "name": "quarterLabel",
                "type": "string",
                "value": "={{ $('Parse Final Paragraph').item.json.quarterLabel }}"
              },
              {
                "id": "b4",
                "name": "finalParagraph",
                "type": "string",
                "value": "={{ $('Parse Final Paragraph').item.json.finalParagraph }}"
              }
            ]
          },
          "options": {}
        },
        "id": "fe29a6c3-b01b-49db-8f5e-602a320a9431",
        "name": "Output: Doc Link + Paragraph",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          6000,
          48
        ],
        "notes": "This node's output is also what gets returned as the JSON response to the frontend when the workflow is triggered via the webhook (responseMode: lastNode)."
      },
      {
        "parameters": {
          "url": "={{ 'https://www.googleapis.com/drive/v3/files?q=' + encodeURIComponent(\"mimeType='application/vnd.google-apps.folder' and name='\" + $('Parse Report Metadata').item.json.quarterFolderName + \"' and '\" + $('Normalize Parent Folder Id').item.json.parentFolderId + \"' in parents and trashed=false\") + '&fields=files(id,name)' }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDriveOAuth2Api",
          "options": {}
        },
        "id": "n1-find-folder",
        "name": "Find Quarter Folder",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2400,
          0
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "TP0O8YTyVNhTpBLo",
            "name": "Google Drive account"
          }
        },
        "notes": "Searches Drive for a folder named after the report's quarter (e.g. Q2-2026), so every report from the same quarter lands in one place."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.files ? $json.files.length : 0 }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "n2-folder-exists",
        "name": "Folder Exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2640,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://www.googleapis.com/drive/v3/files",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDriveOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ name: $('Parse Report Metadata').item.json.quarterFolderName, mimeType: 'application/vnd.google-apps.folder', parents: [ $('Normalize Parent Folder Id').item.json.parentFolderId ] }) }}",
          "options": {}
        },
        "id": "n3-create-folder",
        "name": "Create Quarter Folder",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2880,
          160
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "TP0O8YTyVNhTpBLo",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const folderId = $json.files ? $json.files[0].id : $json.id;\nreturn [{ json: { folderId } }];"
        },
        "id": "n4-normalize-folder",
        "name": "Normalize Folder Id",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3120,
          0
        ]
      },
      {
        "parameters": {
          "url": "={{ 'https://www.googleapis.com/drive/v3/files?q=' + encodeURIComponent(\"name='\" + ($('Parse Report Metadata').item.json.quarterFolderName + ' LP Updates') + \"' and '\" + $('Normalize Folder Id').item.json.folderId + \"' in parents and trashed=false\") + '&fields=files(id,name)' }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDriveOAuth2Api",
          "options": {}
        },
        "id": "n5-find-doc",
        "name": "Find Quarter Doc",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3360,
          0
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "TP0O8YTyVNhTpBLo",
            "name": "Google Drive account"
          }
        },
        "notes": "Looks for the single shared LP Updates doc for this quarter, so later reports append to it instead of creating a new doc each time."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.files ? $json.files.length : 0 }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "n6-doc-exists",
        "name": "Doc Exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3600,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://www.googleapis.com/drive/v3/files/1AtjAVuYeMlzWgbF_Rk7ATqxIJitm4jjAGaN1FXLqT94/copy?fields=id,webViewLink' }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDriveOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ name: $('Parse Report Metadata').item.json.quarterFolderName + ' LP Updates', parents: [ $('Normalize Folder Id').item.json.folderId ] }) }}",
          "options": {}
        },
        "id": "n7-create-doc",
        "name": "Create Quarter Doc from Template",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3840,
          160
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "TP0O8YTyVNhTpBLo",
            "name": "Google Drive account"
          }
        },
        "notes": "First report of the quarter: copies the branded LP Update Template into the quarter folder to seed the shared document."
      },
      {
        "parameters": {
          "jsCode": "const isNew = !$json.files;\nconst docId = $json.files ? $json.files[0].id : $json.id;\nreturn [{ json: { docId, isNew } }];"
        },
        "id": "n8-normalize-doc",
        "name": "Normalize Doc Id",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4080,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.isNew ? 1 : 0 }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "n9-write-router",
        "name": "Is New Doc?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          4320,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $('Normalize Doc Id').item.json.docId + ':batchUpdate' }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDocsOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => {\n  const b = $('Build Section Content').item.json;\n  const p = $('Parse Final Paragraph').item.json;\n  const tcRequests = [];\n  if (b.hasKpi) {\n    tcRequests.push({ insertTable: { rows: 1 + p.kpiRows.length, columns: 4, endOfSegmentLocation: { segmentId: '' } } });\n    tcRequests.push({ insertText: { text: '\\n', endOfSegmentLocation: { segmentId: '' } } });\n  }\n  if (b.revenueChartUrl) {\n    tcRequests.push({ insertInlineImage: { uri: b.revenueChartUrl, endOfSegmentLocation: { segmentId: '' }, objectSize: { height: { magnitude: 120, unit: 'PT' }, width: { magnitude: 240, unit: 'PT' } } } });\n  }\n  if (b.marginChartUrl) {\n    tcRequests.push({ insertInlineImage: { uri: b.marginChartUrl, endOfSegmentLocation: { segmentId: '' }, objectSize: { height: { magnitude: 120, unit: 'PT' }, width: { magnitude: 240, unit: 'PT' } } } });\n  }\n  if (b.segmentChartUrl) {\n    tcRequests.push({ insertText: { text: '\\n', endOfSegmentLocation: { segmentId: '' } } });\n    tcRequests.push({ insertInlineImage: { uri: b.segmentChartUrl, endOfSegmentLocation: { segmentId: '' }, objectSize: { height: { magnitude: 120, unit: 'PT' }, width: { magnitude: 280, unit: 'PT' } } } });\n  }\n  if (b.hasWatch) {\n    tcRequests.push({ insertText: { text: '\\n', endOfSegmentLocation: { segmentId: '' } } });\n    tcRequests.push({ insertTable: { rows: 1 + p.watchItems.length, columns: 3, endOfSegmentLocation: { segmentId: '' } } });\n  }\n  return JSON.stringify({\n    requests: [\n      { insertPageBreak: { endOfSegmentLocation: { segmentId: '' } } },\n      { insertText: { text: b.headerText, endOfSegmentLocation: { segmentId: '' } } },\n      { insertText: { text: b.narrative + '\\n\\n', endOfSegmentLocation: { segmentId: '' } } },\n      ...tcRequests\n    ]\n  });\n})() }}",
          "options": {}
        },
        "id": "5a1d06d5-b4e8-417d-9c4e-ea41e3c58366",
        "name": "Write Section: First Company (Template)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4560,
          -96
        ],
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "TqZswmecfTGR2faB",
            "name": "Google Docs account"
          }
        },
        "notes": "Pages 1-2 come from the Keensight template copy. This appends the first company's section (page break + header + narrative + KPI table + charts + watch items), same as subsequent companies."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $('Normalize Doc Id').item.json.docId + ':batchUpdate' }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDocsOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => {\n  const b = $('Build Section Content').item.json;\n  const p = $('Parse Final Paragraph').item.json;\n  const tcRequests = [];\n  if (b.hasKpi) {\n    tcRequests.push({ insertTable: { rows: 1 + p.kpiRows.length, columns: 4, endOfSegmentLocation: { segmentId: '' } } });\n    tcRequests.push({ insertText: { text: '\\n', endOfSegmentLocation: { segmentId: '' } } });\n  }\n  if (b.revenueChartUrl) {\n    tcRequests.push({ insertInlineImage: { uri: b.revenueChartUrl, endOfSegmentLocation: { segmentId: '' }, objectSize: { height: { magnitude: 120, unit: 'PT' }, width: { magnitude: 240, unit: 'PT' } } } });\n  }\n  if (b.marginChartUrl) {\n    tcRequests.push({ insertInlineImage: { uri: b.marginChartUrl, endOfSegmentLocation: { segmentId: '' }, objectSize: { height: { magnitude: 120, unit: 'PT' }, width: { magnitude: 240, unit: 'PT' } } } });\n  }\n  if (b.segmentChartUrl) {\n    tcRequests.push({ insertText: { text: '\\n', endOfSegmentLocation: { segmentId: '' } } });\n    tcRequests.push({ insertInlineImage: { uri: b.segmentChartUrl, endOfSegmentLocation: { segmentId: '' }, objectSize: { height: { magnitude: 120, unit: 'PT' }, width: { magnitude: 280, unit: 'PT' } } } });\n  }\n  if (b.hasWatch) {\n    tcRequests.push({ insertText: { text: '\\n', endOfSegmentLocation: { segmentId: '' } } });\n    tcRequests.push({ insertTable: { rows: 1 + p.watchItems.length, columns: 3, endOfSegmentLocation: { segmentId: '' } } });\n  }\n  return JSON.stringify({\n    requests: [\n      { insertPageBreak: { endOfSegmentLocation: { segmentId: '' } } },\n      { insertText: { text: b.headerText, endOfSegmentLocation: { segmentId: '' } } },\n      { insertText: { text: b.narrative + '\\n\\n', endOfSegmentLocation: { segmentId: '' } } },\n      ...tcRequests\n    ]\n  });\n})() }}",
          "options": {}
        },
        "id": "n10-write-append",
        "name": "Write Section: Append Company",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4560,
          128
        ],
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "TqZswmecfTGR2faB",
            "name": "Google Docs account"
          }
        },
        "notes": "Doc already exists for this quarter: appends this company's section as plain text at the end of the shared document."
      },
      {
        "parameters": {
          "jsCode": "const p = $('Parse Final Paragraph').item.json;\nconst sep = String.fromCharCode(8211);\n\nconst SLATE = '#44546A';\nconst SLATE_LIGHT = '#8496B0';\nconst GRID = '#E8EAEF';\n\nfunction lineChartUrl(labels, values, label, color) {\n  const config = {\n    type: 'line',\n    data: { labels, datasets: [{ label, data: values, borderColor: color, fill: false, pointRadius: 2, borderWidth: 2, lineTension: 0 }] },\n    options: {\n      legend: { display: false },\n      title: { display: true, text: label, fontColor: SLATE, fontSize: 14 },\n      scales: {\n        xAxes: [{ gridLines: { display: false }, ticks: { fontColor: SLATE } }],\n        yAxes: [{ gridLines: { color: GRID }, ticks: { fontColor: SLATE } }]\n      }\n    }\n  };\n  return 'https://quickchart.io/chart?width=480&height=240&backgroundColor=white&c=' + encodeURIComponent(JSON.stringify(config));\n}\n\nfunction barChartUrl(labels, values, label) {\n  const config = {\n    type: 'bar',\n    data: { labels, datasets: [{ label, data: values, backgroundColor: SLATE }] },\n    options: {\n      legend: { display: false },\n      title: { display: true, text: label, fontColor: SLATE, fontSize: 14 },\n      scales: {\n        xAxes: [{ gridLines: { display: false }, ticks: { fontColor: SLATE } }],\n        yAxes: [{ gridLines: { color: GRID }, ticks: { fontColor: SLATE } }]\n      }\n    }\n  };\n  return 'https://quickchart.io/chart?width=520&height=240&backgroundColor=white&c=' + encodeURIComponent(JSON.stringify(config));\n}\n\nlet revenueChartUrl = '';\nif (p.revenueTrend && p.revenueTrend.quarters && p.revenueTrend.quarters.length) {\n  revenueChartUrl = lineChartUrl(p.revenueTrend.quarters, p.revenueTrend.values, 'Revenue (EUR M)', SLATE);\n}\n\nlet marginChartUrl = '';\nif (p.marginTrend && p.marginTrend.quarters && p.marginTrend.quarters.length) {\n  marginChartUrl = lineChartUrl(p.marginTrend.quarters, p.marginTrend.values, 'EBITDA Margin (%)', SLATE_LIGHT);\n}\n\nlet segmentChartUrl = '';\nif (p.segments && p.segments.labels && p.segments.labels.length) {\n  segmentChartUrl = barChartUrl(p.segments.labels, p.segments.values, 'Revenue by Segment (%)');\n}\n\nconst header = p.companyName + ' ' + sep + ' ' + p.quarterLabel;\n\nreturn [{ json: {\n  header,\n  headerText: header + '\\n\\n',\n  narrative: p.finalParagraph,\n  revenueChartUrl,\n  marginChartUrl,\n  segmentChartUrl,\n  hasKpi: (p.kpiRows || []).length > 0,\n  hasWatch: (p.watchItems || []).length > 0\n} }];"
        },
        "id": "n11-build-section",
        "name": "Build Section Content",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2160,
          128
        ]
      },
      {
        "parameters": {
          "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $('Normalize Doc Id').item.json.docId }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDocsOAuth2Api",
          "options": {}
        },
        "id": "n12-get-document",
        "name": "Get Document",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4560,
          48
        ],
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "TqZswmecfTGR2faB",
            "name": "Google Docs account"
          }
        },
        "notes": "Fetches the live document so header positions (which vary depending on where the section was inserted) can be located reliably by content search rather than guessed indices."
      },
      {
        "parameters": {
          "jsCode": "const doc = $json;\nconst p = $('Parse Final Paragraph').item.json;\nconst b = $('Build Section Content').item.json;\n\nconst tables = [];\n(doc.body.content || []).forEach((el) => { if (el.table) tables.push(el); });\nconst insertedCount = (b.hasKpi ? 1 : 0) + (b.hasWatch ? 1 : 0);\nconst lastTables = tables.slice(tables.length - insertedCount);\n\nlet idx = 0;\nlet kpiTable = null, watchTable = null;\nif (b.hasKpi) { kpiTable = lastTables[idx]; idx++; }\nif (b.hasWatch) { watchTable = lastTables[idx]; idx++; }\n\nconst fills = [];\nfunction addFills(tableEl, header, rows) {\n  const allRows = [header, ...rows];\n  allRows.forEach((rowVals, r) => {\n    header.forEach((_, c) => {\n      const text = String((rowVals || [])[c] ?? '').trim();\n      if (!text) return;\n      const cell = tableEl.table.tableRows[r].tableCells[c];\n      fills.push({ startIndex: cell.content[0].startIndex, text });\n    });\n  });\n}\nif (kpiTable) addFills(kpiTable, ['KPI', 'This Quarter', 'Prior Quarter', 'Change'], p.kpiRows);\nif (watchTable) addFills(watchTable, ['Item', 'Status', 'Note'], p.watchItems.map((w) => [w.item, w.status, w.note]));\n\n// Descending order: each insert never shifts a position that is still pending.\nfills.sort((a, c) => c.startIndex - a.startIndex);\nconst requests = fills.map((cf) => ({ insertText: { text: cf.text, location: { index: cf.startIndex } } }));\n\nreturn [{ json: { requests, docId: $('Normalize Doc Id').item.json.docId } }];"
        },
        "id": "n13-compute-style",
        "name": "Compute Cell Fills",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4800,
          48
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $json.docId + ':batchUpdate' }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDocsOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ requests: $json.requests }) }}",
          "options": {}
        },
        "id": "n14-apply-style",
        "name": "Apply Cell Fills",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5040,
          48
        ],
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "TqZswmecfTGR2faB",
            "name": "Google Docs account"
          }
        },
        "notes": "Pass 1: inserts the table cell text only. Styling is deferred to a second pass so the positions used for styling are read from the settled document."
      },
      {
        "parameters": {
          "url": "={{ 'https://www.googleapis.com/drive/v3/files?q=' + encodeURIComponent(\"mimeType='application/vnd.google-apps.folder' and name='Keensight Capital' and trashed=false\") + '&fields=files(id,name)' }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDriveOAuth2Api",
          "options": {}
        },
        "id": "n15-find-parent",
        "name": "Find Keensight Parent Folder",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1984,
          -144
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "TP0O8YTyVNhTpBLo",
            "name": "Google Drive account"
          }
        },
        "notes": "Looks for the top-level 'Keensight Capital' Drive folder that all quarterly report folders live inside."
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.files ? $json.files.length : 0 }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "n16-parent-exists",
        "name": "Parent Folder Exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2224,
          -144
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://www.googleapis.com/drive/v3/files",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDriveOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ name: 'Keensight Capital', mimeType: 'application/vnd.google-apps.folder' }) }}",
          "options": {}
        },
        "id": "n17-create-parent",
        "name": "Create Keensight Parent Folder",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2416,
          240
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "TP0O8YTyVNhTpBLo",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const parentFolderId = $json.files ? $json.files[0].id : $json.id;\nreturn [{ json: { parentFolderId } }];"
        },
        "id": "n18-normalize-parent",
        "name": "Normalize Parent Folder Id",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2704,
          -144
        ]
      },
      {
        "parameters": {
          "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $('Normalize Doc Id').item.json.docId }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDocsOAuth2Api",
          "options": {}
        },
        "id": "n19-get-document-2",
        "name": "Get Document 2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5280,
          48
        ],
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "TqZswmecfTGR2faB",
            "name": "Google Docs account"
          }
        },
        "notes": "Re-fetches the document after cell fills so every style range is computed against real, settled positions."
      },
      {
        "parameters": {
          "jsCode": "const doc = $json;\nconst p = $('Parse Final Paragraph').item.json;\nconst b = $('Build Section Content').item.json;\n\nconst SLATE = { red: 0.267, green: 0.329, blue: 0.416 };\nconst WHITE = { red: 1, green: 1, blue: 1 };\nconst RED = { red: 0.69, green: 0.0, blue: 0.125 };\nconst AMBER = { red: 0.72, green: 0.53, blue: 0.04 };\nconst GREEN = { red: 0.11, green: 0.48, blue: 0.24 };\n\nconst tables = [];\n(doc.body.content || []).forEach((el) => { if (el.table) tables.push(el); });\nconst insertedCount = (b.hasKpi ? 1 : 0) + (b.hasWatch ? 1 : 0);\nconst lastTables = tables.slice(tables.length - insertedCount);\n\nlet idx = 0;\nlet kpiTable = null, watchTable = null;\nif (b.hasKpi) { kpiTable = lastTables[idx]; idx++; }\nif (b.hasWatch) { watchTable = lastTables[idx]; idx++; }\n\nconst requests = [];\n\n// Range of a cell's text content: from first paragraph start to just before the cell end marker.\nfunction cellTextRange(cell) {\n  return { startIndex: cell.content[0].startIndex, endIndex: cell.endIndex - 1 };\n}\n\nfunction styleTable(tableEl, numCols) {\n  // Uniform 10pt across the whole (already filled) table.\n  requests.push({ updateTextStyle: {\n    range: { startIndex: tableEl.startIndex, endIndex: tableEl.endIndex },\n    textStyle: { fontSize: { magnitude: 10, unit: 'PT' } }, fields: 'fontSize' } });\n  // Slate header row background.\n  requests.push({ updateTableCellStyle: {\n    tableCellStyle: { backgroundColor: { color: { rgbColor: SLATE } } }, fields: 'backgroundColor',\n    tableRange: { tableCellLocation: { tableStartLocation: { index: tableEl.startIndex }, rowIndex: 0, columnIndex: 0 }, rowSpan: 1, columnSpan: numCols } } });\n  // White bold header text, using each cell's real, settled range.\n  tableEl.table.tableRows[0].tableCells.forEach((cell) => {\n    const r = cellTextRange(cell);\n    if (r.endIndex > r.startIndex) {\n      requests.push({ updateTextStyle: { range: r,\n        textStyle: { bold: true, foregroundColor: { color: { rgbColor: WHITE } }, fontSize: { magnitude: 10, unit: 'PT' } },\n        fields: 'bold,foregroundColor,fontSize' } });\n    }\n  });\n}\n\nif (kpiTable) styleTable(kpiTable, 4);\nif (watchTable) {\n  styleTable(watchTable, 3);\n  // Color-code the Status column by value.\n  const statusColors = { 'Attention': RED, 'Monitor': AMBER, 'On Track': GREEN };\n  watchTable.table.tableRows.slice(1).forEach((row, i) => {\n    const status = (p.watchItems[i] || {}).status;\n    const color = statusColors[status];\n    if (!color) return;\n    const r = cellTextRange(row.tableCells[1]);\n    if (r.endIndex > r.startIndex) {\n      requests.push({ updateTextStyle: { range: r,\n        textStyle: { bold: true, foregroundColor: { color: { rgbColor: color } } },\n        fields: 'bold,foregroundColor' } });\n    }\n  });\n}\n\n// Company section header and narrative, located by content search on the settled doc.\nfunction flattenAndFind(needle) {\n  const runs = [];\n  function walk(elements) {\n    for (const el of elements || []) {\n      if (el.paragraph && el.paragraph.elements) {\n        for (const pe of el.paragraph.elements) {\n          if (pe.textRun && typeof pe.textRun.content === 'string') {\n            runs.push({ start: pe.startIndex, text: pe.textRun.content });\n          }\n        }\n      }\n      if (el.table) {\n        for (const row of el.table.tableRows || []) {\n          for (const cell of row.tableCells || []) walk(cell.content || []);\n        }\n      }\n    }\n  }\n  walk(doc.body.content);\n  let flat = '';\n  const offsets = [];\n  for (const r of runs) {\n    for (let i = 0; i < r.text.length; i++) offsets.push(r.start + i);\n    flat += r.text;\n  }\n  const foundIdx = flat.lastIndexOf(needle);\n  if (foundIdx === -1) return null;\n  return { startIndex: offsets[foundIdx], endIndex: offsets[foundIdx + needle.length - 1] + 1 };\n}\n\nconst docEnd = (doc.body.content && doc.body.content.length)\n  ? doc.body.content[doc.body.content.length - 1].endIndex : null;\nconst headerRange = flattenAndFind(b.header);\nif (headerRange && docEnd) {\n  const secStart = Math.max(1, headerRange.startIndex - 2);\n  const secEnd = Math.max(secStart + 1, docEnd);\n  const resetRange = { startIndex: secStart, endIndex: secEnd };\n  // Clear inherited list bullets and reset to normal paragraph style across the company section.\n  requests.unshift({ deleteParagraphBullets: { range: resetRange } });\n  requests.unshift({ updateParagraphStyle: { range: resetRange, paragraphStyle: { namedStyleType: 'NORMAL_TEXT' }, fields: 'namedStyleType' } });\n  // Set the Inter font across the whole company section so it matches the template's pages 1-2.\n  const fontRange = { startIndex: secStart, endIndex: Math.max(secStart + 1, docEnd - 1) };\n  requests.unshift({ updateTextStyle: { range: fontRange, textStyle: { weightedFontFamily: { fontFamily: 'Inter' } }, fields: 'weightedFontFamily' } });\n}\nif (headerRange) {\n  requests.push({ updateTextStyle: { range: headerRange,\n    textStyle: { bold: true, foregroundColor: { color: { rgbColor: SLATE } }, fontSize: { magnitude: 15, unit: 'PT' } },\n    fields: 'bold,foregroundColor,fontSize' } });\n}\nconst narrativeRange = flattenAndFind(b.narrative);\nif (narrativeRange) {\n  requests.push({ updateTextStyle: { range: narrativeRange,\n    textStyle: { fontSize: { magnitude: 10, unit: 'PT' } }, fields: 'fontSize' } });\n}\n\nreturn [{ json: { requests, docId: $('Normalize Doc Id').item.json.docId } }];"
        },
        "id": "n20-compute-styles",
        "name": "Compute Styles",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5520,
          48
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $json.docId + ':batchUpdate' }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDocsOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ requests: $json.requests }) }}",
          "options": {}
        },
        "id": "n21-apply-styles",
        "name": "Apply Styles",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5760,
          48
        ],
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "TqZswmecfTGR2faB",
            "name": "Google Docs account"
          }
        },
        "notes": "Pass 2: applies fonts, colors, and table header styling. Pure style updates never shift indices, so ordering is safe."
      }
    ],
    "connections": {
      "Manual Trigger: New Quarterly Report": {
        "main": [
          [
            {
              "node": "Select Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select Report": {
        "main": [
          [
            {
              "node": "Read PDF from Disk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read PDF from Disk": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook: Report Uploaded": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Parse Report Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Report Metadata": {
        "main": [
          [
            {
              "node": "Claude 1: Draft + Flag Anomalies",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude 1: Draft + Flag Anomalies": {
        "main": [
          [
            {
              "node": "Parse Draft Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Draft Response": {
        "main": [
          [
            {
              "node": "Claude 2: Review + Refine for LPs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude 2: Review + Refine for LPs": {
        "main": [
          [
            {
              "node": "Parse Final Paragraph",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Final Paragraph": {
        "main": [
          [
            {
              "node": "Build Section Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Quarter Folder": {
        "main": [
          [
            {
              "node": "Folder Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Folder Exists?": {
        "main": [
          [
            {
              "node": "Normalize Folder Id",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Quarter Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Quarter Folder": {
        "main": [
          [
            {
              "node": "Normalize Folder Id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Folder Id": {
        "main": [
          [
            {
              "node": "Find Quarter Doc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Quarter Doc": {
        "main": [
          [
            {
              "node": "Doc Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Doc Exists?": {
        "main": [
          [
            {
              "node": "Normalize Doc Id",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Quarter Doc from Template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Quarter Doc from Template": {
        "main": [
          [
            {
              "node": "Normalize Doc Id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Doc Id": {
        "main": [
          [
            {
              "node": "Is New Doc?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is New Doc?": {
        "main": [
          [
            {
              "node": "Write Section: First Company (Template)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Write Section: Append Company",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Section: First Company (Template)": {
        "main": [
          [
            {
              "node": "Get Document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Section: Append Company": {
        "main": [
          [
            {
              "node": "Get Document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Section Content": {
        "main": [
          [
            {
              "node": "Find Keensight Parent Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Document": {
        "main": [
          [
            {
              "node": "Compute Cell Fills",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Keensight Parent Folder": {
        "main": [
          [
            {
              "node": "Parent Folder Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parent Folder Exists?": {
        "main": [
          [
            {
              "node": "Normalize Parent Folder Id",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Keensight Parent Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Keensight Parent Folder": {
        "main": [
          [
            {
              "node": "Normalize Parent Folder Id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Parent Folder Id": {
        "main": [
          [
            {
              "node": "Find Quarter Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Cell Fills": {
        "main": [
          [
            {
              "node": "Apply Cell Fills",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apply Cell Fills": {
        "main": [
          [
            {
              "node": "Get Document 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Document 2": {
        "main": [
          [
            {
              "node": "Compute Styles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Styles": {
        "main": [
          [
            {
              "node": "Apply Styles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apply Styles": {
        "main": [
          [
            {
              "node": "Output: Doc Link + Paragraph",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "nodeGroups": [],
    "pinData": {},
    "versionId": "81f90721-5ddd-4874-8b44-326bcbea4a92",
    "activeVersionId": "e40fc0cb-07d5-4841-9adf-63c5e4079b50",
    "versionCounter": 25,
    "triggerCount": 1,
    "sourceWorkflowId": null,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-07-05T15:31:02.631Z",
        "createdAt": "2026-07-05T15:31:02.631Z",
        "role": "workflow:owner",
        "workflowId": "4C2haiHoqdwEDugd",
        "projectId": "2yKQHLweTLEHAMJU",
        "project": {
          "updatedAt": "2026-07-05T15:28:01.152Z",
          "createdAt": "2026-07-05T15:26:12.561Z",
          "id": "2yKQHLweTLEHAMJU",
          "name": "Jerico Agdan <jericoagdan@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "customTelemetryTags": [],
          "creatorId": "a86b0f3a-9d78-4602-87ee-71430381cdd1"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]